:root {
  color-scheme: light dark;
}

p {
  color: light-dark(#000000, #ffffff);
  background-color: light-dark (#ffffff, #121212);
}

h1 {
  color: light-dark(#000000, #ffffff);
  background-color: light-dark (#ffffff, #121212);
}

li {
  color: light-dark(#000000, #ffffff);
  background-color: light-dark (#ffffff, #121212);
  
}

button {
  background-color: black;
  color: white;
  border: none;
  outline: none;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 10px;
  transition: transform 0.3s ease;
}

button:hover {
  transform: scale(0.9);
}

input {
  width: 300px;
  height: 60px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 12px;
  border-top-left-radius: 12px;
  border-top-right-radius: 10px;
  background-color: black;
  color: white;
  border: 1px solid white;
  text-align: center;
}

h1 {
  text-align: center;
  font-family: 'Times New Roman', Times, serif;
  font-weight: bold;
transition: transform 0.5s ease, color 0.5s ease;

}
h1:hover{
  transform: scale(1.2) rotate(-2deg);
}
@keyframes bounce {
  0%, 100%{
    transform: translateY(0);
  }
  50%{
    transform: translateY(-10px);
  }
  
}
p {

  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;

}
.todo{
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}